* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#simon {
  color: red;
}
#says {
  color: blue;
}
#game {
  color: green;
}
h3 {
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  text-align: center;
}
.box-container {
  display: flex;
  justify-content: center;
}
.box {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 15px;
  margin: 1.5rem;
}
#startbtn {
  background-color: rgba(189, 112, 12, 0.687);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}
.stbtn-hide {
  display: none;
}
.red {
  background-color: rgb(229, 102, 102);
}
.blue {
  background-color: rgb(80, 80, 202);
}
.yellow {
  background-color: rgb(225, 225, 128);
}
.green {
  background-color: rgb(167, 225, 167);
}
.flashWhite {
  background-color: white;
}
.flashGreen {
  background-color: green;
}
.flashRed {
  background-color: red;
}

.gameover {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(51, 51, 52);
  color: white;
  margin: auto;
  position: absolute;
  top: 90px;
  left: 500px;
  z-index: 10;
  border-radius: 1rem;
  display: none;
 
}

#replaybtn {
  background-color: rgba(189, 112, 12, 0.687);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
}
.gameover h1 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(235, 63, 69);
}
@media screen and (max-width:500px) {
   .box{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 0.5rem;
   }
   .gameover {
  height: 340px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(51, 51, 52);
  color: white;
  margin: auto;
  position: absolute;
  top: 70px;
  left: 110px;
  z-index: 10;
  border-radius: 1rem;
  display: none;
  
}
  
}