* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1 {
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#simon {
  color: rgb(156, 163, 20);
}
#says {
  color: rgb(89, 51, 213);
}
#game {
  color: rgb(17, 196, 157);
}
.heading {
  animation: upDown 2s ease infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: perspective(200px) translateZ(-50px);
  }

}

h3 {
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  text-align: center;
  background: linear-gradient(135deg, #020617, #111827, #1f2933);
  color: #e5e7eb;
}

.box-container {
  display: flex;
  justify-content: center;
}
.box {
  height: 200px;
  width: 200px;
  /* border: 10px solid black; */
  border-radius: 50%;
  margin: 1.5rem;
  transition: all 0.2s ease;
}
.box:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
#startbtn {
  background-color: rgba(28, 75, 201, 0.94);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  border: none;
}
.stbtn-hide {
  display: none;
}
#startbtn:hover {
  background-color: rgba(44, 96, 230, 0.877);
  cursor: pointer;
}
.red {
  background-color: rgb(229, 102, 102);
  border: 5px solid red;
}
.blue {
  background-color: rgb(80, 80, 202);
  border: 5px solid blue;
}
.yellow {
  background-color: rgb(193, 136, 83);
  border: 5px solid rgb(173, 71, 21);
}
.green {
  background-color: rgb(167, 225, 167);
  border: 5px solid green;
}
.flashWhite {
  background-color: white;
}
.flashGreen {
  background-color: green;
}
.flashRed {
  background: red;
}
a {
  color: #5f84bb;
  text-decoration: none;
  font-size: 1.4rem;
}
#newtogame {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.gameover {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(15, 31, 56);
  color: white;
  margin: auto;
  position: absolute;
  top: 90px;
  left: 500px;
  z-index: 10;
  border-radius: 1rem;
  display: none;
}

#replaybtn {
  background-color: rgba(6, 10, 112, 0.687);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  font-family: sans-serif;
  margin-bottom: 1rem;
  border: none;
}
#replaybtn:hover {
  background-color: rgba(53, 86, 232, 0.877);
  cursor: pointer;
}
.gameover h1 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(235, 63, 69);
  transition: all 0.2s ease;
}
.gameover h1:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 500px) {
  .box {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 0.5rem;
  }
  .gameover {
    height: 340px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(15, 31, 56);
    color: white;
    margin: auto;
    position: absolute;
    top: 70px;
    left: 100px;
    z-index: 10;
    border-radius: 1rem;
    display: none;
  }
}
